body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: #000000;
}

#main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 900px;
}

h1 {font-size: 0.9em;}

h2{font-size: 0.65em;}

h3{font-size: 0.6em;
	margin-right: 20px;}

p {font-size: 0.6em;}

/*header*/

header{
	display: flex;
	justify-content: space-between;
    align-items: flex-end;}

nav ul {
	display: flex;
	list-style-type: none;
	font-size: 0.65em;}

nav li{margin-right: 30px;}

a {color: #000000;
	text-decoration: none;}

a:hover {
	padding-top: 20px;
	color:  #0065FC;
	border-top: 1.5px solid;}

.strong{
	color: #0065FC;
	font-weight: bold;}