body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: #000;}

#main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 900px;}

h1 {font-size: 0.9em;
	margin-bottom: -3px;}

h2{font-size: 0.65em;
   margin: 0;
   padding: 0;}

h3{font-size: 0.6em;
	margin-right: 20px;}

h4{font-size: 0.6em;
   font-weight: bold;}
   
h5{font-size: 0.9em;}   

p {font-size: 0.6em;}

/*header*/

header{
	display: flex;
	justify-content: space-between;
    align-items: flex-end;
	height: 60px;
    margin-bottom: 10px;}

header img { 
	width: 65%;
	height: 65%;}	

nav ul {
	display: flex;
	list-style-type: none;
	font-size: 0.65em;}

nav li{margin-right: 35px;}

nav a {color: #000;
	text-decoration: none;}

nav a:hover {
	padding-top: 25px;
	color:  #0065FC;
	border-top: 1.5px solid;}

nav li:last-child{
	margin-right: 10px;}	
	
nav li:last-child a {
	color: #0065FC;
	font-weight: bold;}	
	
nav li:last-child a:hover{
	padding-top: 25px;
	color:  #0065FC;
	border-top: 1.5px solid;}

/*Filtres*/

.location{
	background-color: #F2F2F2;
	border-radius: 8px 0px 0px 8px;
	border-style: none;
	padding: 8px;}

input {
	border-color: #F2F2F2;
	border-style: solid;
	border-width: thin;
	height: 24px;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-weight: bold;
	margin-left: 0;}

#search {
	background-color: #0065FC;
	border-radius: 0px 8px 8px 0px;
	border-style: none;
	height: 27px;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #ffffff;
	padding-left: 8px;
	padding-right: 8px;}

#boxfilter {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
    align-items: center;}

#boxfilter ul {
	display: flex;
	list-style-type: none;
	padding: 0;}

.text {
	border-color: #e6e6e6;
	border-style: solid;
	border-width: 1.5px;
	border-radius: 30px;
	width: auto;
	height: 26px;
	color: #000000;
	font-size: 0.6em;
	font-weight: bold;
    position: relative;
	display: flex;
	align-items: center;
	padding-right: 10px;
	padding-left: 30px;
	margin-right: 15px;}

.text:hover {
    box-shadow: 0 0 10px #cccccc;}

.icon {
	background-color: #DEEBFF;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	border-style: none;
	color: #0065FC;
	position: absolute;
   left: -4px;
   text-align: center;
   line-height: 30px;}

#filter{margin-right: 15px;}

.fa-info {
	background-color: #ffffff;
	border-radius: 50%;
	border-color: #cccccc;
	border: 1px;
	width: 16px;
	height: 14px;
	border-style: solid;
	color: #0065FC;
    text-align: center;
    padding-top: 2px;
    margin-right: 5px;}


/*Corps*/



section
	{display: flex;
	margin-bottom: 25px;}

.sectiontitles{
	display: flex;
	align-items: center;
	padding-left: 30px;}
		
.fa-star{
	color: #0065FC;}
			
.grey {
	color: #cccccc;}


/*Article*/

article {
	flex: 2.8;
    margin-right: 15px;
    background-color: #F2F2F2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;}

.lodge{
	display: flex;
	flex-direction: row;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;}

.lodgeboxup{
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: 10px;
	width: 160px;
	height: 130px;
	padding-top: 0;
	border:3px solid white;
	box-shadow: 0px 0px 10px #cccccc;}

.lodgeboxdown{
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: 10px;
	width: 160px;
	height: 130px;
	margin-bottom: 0px;
	border:3px solid white;
	box-shadow: 0px 0px 10px #cccccc;}

article figure {
	height: 80px;
	width: 100%;
	margin: 0;}

article figure img {
	object-fit: cover;
	width: 100%;
	height: 100%;
    border-radius: 10px 10px 0px 0px;}

.textlodge{
	padding: 0;
	margin: 0;
	line-height: 1px;
	padding-left: 10px;}

a {color: #000000;
	text-decoration: none;}

a:hover {color: currentColor;}


/*Aside*/	

aside{flex: 1.3;
	background-color: #F2F2F2;
	border-radius: 10px;}

#asidetitle{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 30px;
	padding-right: 30px;
    padding-top: 10px;}
	
.popularbox{
	display: flex;
	flex-direction: column;
	align-items: center;}
	
.popular{
	display: flex;
	flex-direction: row;
	background-color: #ffffff;
	border-radius: 10px;
	width: 220px;
	height: 90px;
	margin-bottom: 20px;
	border:3px solid white;
	box-shadow: 0px 0px 10px #cccccc;}
	
aside figure {
	height: 100%;
	width: 80px;
	margin: 0;}
	
aside figure img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 10px 0px 0px 10px;}
	
.textpopular{
	padding-left: 14px;
	padding-right: 23px;}
	
	
/*Activites*/

#activitiesbox{
	display: flex;
	flex-direction: column;
	margin-bottom: 0;}

#activities{
	display: flex;}

.activities{
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: 10px;
	height: 260px;
	box-shadow: 0px 0px 10px #cccccc;
	margin-right: 25px;}	

.activities figure {
	height: 225px;
	width: 100%;
	margin: 0;}

.activities figure img {
	object-fit: cover;
	width: 100%;
	height: 100%;
    border-radius: 10px 10px 0px 0px;}

.textactivities{
	line-height: 8px;
	padding-left: 12px;}

.activitiessecond{
	display: flex;
	flex-grow: 2;
	flex-direction: column;}

.activitiessecond2{
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: 10px;
	height: 117px;
	box-shadow: 0px 0px 10px #cccccc;
	margin-bottom: 25px;
    margin-right: 25px;}	

.activitiessecond2 figure {
	height: 80px;
	width: 100%;
	margin: 0;}

.activitiessecond2 figure img {
	object-fit: cover;
	width: 100%;
	height: 100%;
    border-radius: 10px 10px 0px 0px;}

.activitiessecond3{
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: 10px;
	height: 117px;
	box-shadow: 0px 0px 10px #cccccc;
	margin-bottom: 25px;}	

.activitiessecond3 figure {
	height: 80px;
	width: 100%;
	margin: 0;}

.activitiessecond3 figure img {
	object-fit: cover;
	width: 100%;
	height: 100%;
    border-radius: 10px 10px 0px 0px;}    


/*footer*/

footer{
	background-color: #F2F2F2;
	display: flex;
	padding: 25px 30px 15px 30px;
	margin-top: 10px;}

.footernav {
	display: flex;
	flex-direction: column;
	line-height: 18px;
	width: 35%;}

.footernav ul {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	list-style-type: none;
	font-size: 0.6em;} 